<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>모드 선택</title>
</head>
<body>
<h2>모드 선택</h2>

<!-- A 모드 선택 (POST 요청) -->
<form action="/run_modeA" method="POST" style="display:inline;">
  <button type="submit">OBSTACLE MODE</button>
</form>

<!-- B 모드 선택 (POST 요청) -->
<form action="/run_modeB" method="POST" style="display:inline;">
  <button type="submit">COIN MODE</button>
</form>

</body>
</html>
